* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Montserrat';
    color: #3D3A38;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.24;
}


/* HEADER */
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.left-column,
.right-column {
    flex: 1;
    padding: 20px;
}

.center-column {
    flex: 0 0 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 100%;
    max-width: 100px;
    height: auto;
}

p {
    margin: 0 0 10px 0;
}

.slider {
    display: flex;
    justify-content: space-between;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 20px;

}

header .logo img {
    height: 30px;
    width: auto;
    
}


nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    transition: color 0.3s;
    font-size: 14px;
}


/* HERO SECTION */

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.hero-left {
    background: url('assets/fromDesigner/imgs/banner-image.png') no-repeat center center;
    background-size: cover;
    width: 50%;
    height: 400px;
    background-position: center;
}

.hero-right {
    background: url('assets/fromDesigner/imgs/banner-bg.png') no-repeat center center;
    background-size: cover;
    width: 50%;
    height: 400px;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    text-align: center;
}

.hero-right h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.hero-right p {
    font-size: 16px;
    margin-bottom: 20px;
}

.hero-right a {
    text-decoration: none;
    color: black;
    padding: 10px 20px;
    border: 1px solid black;
}

.characteristics{
    text-align: center;
}


/* REWIES SECTION */
.reviews-wrapp{
    display: flex;
    text-align: center;
    gap: 16px;
    margin-top: 30px;
}

.reviews h2{
    text-align: center;
}